.chat-content
  .chat-header
    %p.chat-header__group-name test-group
    %p.chat-header__group-member Member : test-user
    = link_to '/' do
      .chat-header__edit Edit
  .chat-main
    .chat-contents
      %p.chat-contents__comment-user
        test-user
        %span.chat-contents__comment-date-time 2019/02/13(wed) 17:50:36
      %p.chat-contents__comment こんにちは！
      %p.chat-contents__comment-user
        test-user
        %span.chat-contents__comment-date-time 2019/02/13(wed) 17:50:36
      %p.chat-contents__comment さようなら
  .form
    %form.input-form{action: '/', method: 'post'}
      %input.input-form__text{type: 'text', placeholder: 'type a message'}
      .text-box
        %label.text-box__image
          %i.fa.fa-image
            %input.file-send{type: 'file', name: 'datafile'}
      %button.input-form__send-btn{type: 'submit', name: 'action', value: 'send'}
        Send
