.chat-header
  %p.chat-header__group-name
    = @group.name
  %p.chat-header__group-member
    Member :
    - @group.users.each do |group|
      = group.name
  = link_to edit_group_path(@group.id) do
    .chat-header__edit Edit
