.side-bar
  .side-header
    %p.side-header__user-name
      = current_user.name
    = link_to new_group_path do
      %i.fa.fa-edit
    = link_to edit_user_path(current_user) do
      %i.fa.fa-cog
  .side-main
    %p.side-main__group-name test-group
    %p.side-main__group-message さようなら
    %p.side-main__group-name sample-group
    %p.side-main__group-message hello!
    %p.side-main__group-name example
    %p.side-main__group-message まだメッセージがありません
